* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: montserrat;
    background-color: #103440;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::selection {
    background: rgb(0, 123, 255, 0.3);
}

.content {
    max-width: 1340px;
    margin: auto;
    /* padding: 0 30px; */
}

.content-about {
    max-width: 1250px;
    margin: auto;
    font-size: 20px;
    padding: 0 30px;
    width: 100%;
}

.navbar {
    background-color: rgb(27, 98, 126);
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: #1b1b1b;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-family: Bradley Hand ITC;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #007bff;
}

.banner {
    background: url("../images/myProtofolio.jpg") no-repeat;
    height: 100vh;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.banner1 {
    background: url("../images/up.gif") no-repeat;
    height: 100vh;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

label.brand2 {
    display: flex;
    font-weight: bold;
    font-size: 25px;
    font-family: Algerian;
    margin-top: -1em;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 3s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

@media only screen and (max-width: 1500px) {
    #blogContainer img {
        max-height: 100%;
        max-width: 100%;
    }
}

@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    .content-about p {
        font-size: 15px;
    }

    .banner {
        max-width: 100%;
    }

    body.disabled {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }

    .navbar.show .menu-list {
        left: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
}

.card-body {
    font-size: 25px;
    color: #fff;
}

.card-title {
    color: #0cb05e;
}

.btn-success {
    width: 100px;
    height: 30px;
    background: #0cb05e;
}

.btn-secondary {
    width: 100px;
    height: 30px;
    background: lightgrey;
}

.btn-success:hover {
    height: 35px;
}

.btn-secondary:hover {
    height: 35px;
}

#home-Body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

#home-Body div {
    margin: auto;
}

#pra {
    color: white;
    margin-top: 7rem;
}

input[type=button] {
    height: 40px;
    width: 100px;
    background-color: white;

}

input[type=button]:active {
    height: 40px;
    width: 105px;
    background-color: green;
}

#about {
    display: flex;
    flex-wrap: wrap;
}

#about div {
    margin: auto;
}

#skill {
    display: flex;
    flex-wrap: wrap;
}

#skill div {
    margin: auto;
}

.skillPra {
    color: white;
    font-weight: bold;
    display: flex;
    margin-left: 2.5em;
    margin-top: 2em;
}

.skillPr {
    color: white;
    font-weight: bold;
    display: flex;
}

#pra1 {
    background-color: darkgrey;
    height: 8.33%;
    width: 35%;
    font-weight: bold;
    text-align: center;
    border: 2px solid darkslategrey;
}

#pra2 {
    background-color: darkgrey;
    height: 8.33%;
    width: 35%;
    font-weight: bold;
    text-align: center;
    border: 2px solid darkslategrey;
}

#sbody {
    color: white;
}

#mbody {
    color: white;
}

.progress {
    height: 10px;
    width: 30em;
    background-color: white;
    border-radius: 10px;
}

span {
    font-size: 14px;
    color: white;
    font-weight: bold;

}

.progress #progre {
    height: 10px;
    width: 90%;
    border-radius: 10px;
    background-color: #14E81D;
    margin-left: -1px;
}

.progress #progr {
    height: 10px;
    width: 80%;
    border-radius: 10px;
    background-color: #14E81D;
    margin-left: -1px;
}

.progress #prog {
    height: 10px;
    width: 75%;
    border-radius: 10px;
    background-color: #14E81D;
    margin-left: -1px;
}

.progress #pro {
    height: 10px;
    width: 70%;
    border-radius: 10px;
    background-color: #14E81D;
    margin-left: -1px;
}

#lang {
    color: white;
}

#contact {
    display: flex;
}

#contact div {
    justify-content: space-between;
    padding: 30px;
    margin: 0 20px;
}

.frame {
    text-align: center;
    margin-top: 29.5%;
}

input[type=text] {
    width: 100%;
    height: 6vh;
    background-color: white;
    text-align: center;
}

#mess {
    height: 170px;
    width: 100%;
    background-color: white;
}

#porto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2px;
    margin: 0 120px;
}

#protfolio {
    text-align: center;
}

#blogContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 14rem;
}

#blogContainer .blogItem {
    margin: 2rem;
    padding-left: -10%;
}

.likes {
    padding-right: 50px;
}

.submit-btn {
    margin-left: 17rem;
}

@media(max-width:400px) {
    .taggle-botton {
        display: flex;

    }

    nav {
        width: 100%;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;

    }

    .nav ul {
        width: 100%;
        flex-direction: column;
    }

    .nav ul li {
        text-align: center;
    }

    .nav ul li {
        padding: .5rem 1rem;
    }

}

/* footer  */
footer {
    background-color: rgb(27, 98, 126);
    justify-content: space-around;
    height: 40vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;

}

.footerMenu {
    display: flex;
}

.footerMenu ul {

    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
}

.footerMenu li {
    border: 1px solid black;
    font-size: 14px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    list-style: none;
    height: 34px;
}

.footerMenu a {
    display: inline-block;
    padding: 10px;
    margin: 10 40px;
    text-align: center;
    color: rgb(238, 232, 232);
}

.board {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.board2 {
    font-size: 20px;
    margin-top: 0.5em;
}

.board2 h4 {
    display: flex;
    color: white;
    margin-top: -25px;
    margin-left: 25px;
}

.board3 {
    text-align: center;
    color: white;
    font-weight: 30px;
}

#copy {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.copyRight {
    background-color: rgb(27, 98, 126);
    text-align: center;
    color: #ffff;
    height: 4em;
    max-width: 100%;
    border-radius: 6px;
    font-size: 24px;
    font-weight: bold;
}

/* blogPost!!!! */

.items {
    margin-top: 2%;
}

.items img {
    width: 40em;
    height: 30em;
}

#img {
    border-radius: 10%;
    box-shadow: 12px 12px 2px 1px rgba(59, 59, 228, 0.2);
}