.feedback-item{
    background-color: white;
    width: 48rem;
    margin-left: 8.5cm;
    text-align: center;
}
.feedback-body{
    text-align: center;
}
.space{
    background-color: #103440;
}
.reply{
    font-weight: 30px;
    background-color: skyblue;
    border-color: #103440;
    border-radius: 3px;
}
.delete{
    background-color: brown;
    border-color: #103440;
    border-radius: 3px;
}
@media (max-width:1000px){
    .feedback-item{
        background-color: white;
        width: 30rem;
        margin-left: 5cm;
    }
    }