*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#container{
    padding: 0 1em;
}
body{
    font-family: montserrat;
    background-color: #103440;
}
header{
    display: inline;
    width: 90%;
    margin: auto;
    align-items: center;
}
nav{
    background-color:white;
    width: 100%;
    border-radius: 10px;
    position: fixed;
}
label.brand{
font-weight: bold;
font-size: 22px;
margin-top: -2cm;
margin-left: 2cm;
display: inline;
}
nav ul{
    float: right;
    margin-right: 250px;
    flex-direction: column;

}
nav ul li{
    display: inline;
    line-height: 65px;
    margin: 0 15px;
    font-size: 22px;
}
nav ul li a.sign{
background-color:#103440;
height: 50px;
width: 171.27px;
font-weight: bold;
color: white;
}
nav ul li a{
    color: black;
}
#img{
    margin-top: 2cm;
}
#home-Body{
    display: flex;
    flex-wrap: wrap;
}
#home-Body div{
margin: auto;
}
#pra{
    color: white;
    margin-top: 4cm;
}
input[type=button]{
    height:70px;
    width:150px;
    border-radius:34.4px;
    background-color: white;
}
input[type=button]:hover{
    height:50px;
    width:150px;
    background-color:green;
}
.board{
    background-color:white;
    height: 150px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.board div{
    margin: 600px;
    padding: 0 4%;
}
.copyRight{
    background-color:white;
    height:124px;
    max-width: 100%;
    border-radius:6px;
    font-size: 24px;
    font-weight: bold;
}
#about{
    display: flex;
    flex-wrap: wrap;
}
#about div{
   margin: auto;
}
#skill{
    display: flex;
    flex-wrap: wrap;
}
#skill div{
    margin: auto;
}
.skillPra{
    color: white;
    font-weight: bold;
    display: flex;
}
.skillPr{
    color: white;
    font-weight: bold;
    display: flex;
}
#pra1{
    background-color: #D9D9D9;
    height: 50px;
    width: 180px;
    font-weight: bold;
    text-align: center;
    border: 2px solid darkslategrey;
}
#pra2{
    background-color: #D9D9D9;
    height: 50px;
    width: 180px;
    font-weight: bold;
    text-align: center;
    border: 2px solid darkslategrey;
}
#sbody{
    color: white;
}
#mbody{
    color: white;
}
.board{
    display: flex;
    margin-top: 12cm;
}
.board div{
    align-items: center;
    margin: 70px;
    margin-top: -0px;
}
#progressing{
   
}
.progress{
    height: 10px;
    width:13cm;
    background-color: white;
    border-radius: 10px;
    margin-left: 0cm;
    text-align: left;
}
span{
    font-size: 14px;
    color: white;
    font-weight: bold;

}
.progress #progre{
    height: 10px;
    width: 90%;
    border-radius: 10px;
    background-color:#14E81D;
}
.progress #progr{
    height: 10px;
    width: 80%;
    border-radius: 10px;
    background-color:#14E81D;
}
.progress #prog{
    height: 10px;
    width: 75%;
    border-radius: 10px;
    background-color:#14E81D;
}
.progress #pro{
    height: 10px;
    width: 70%;
    border-radius: 10px;
    background-color:#14E81D;
}
#lang{
    color: white;
}
#contact{
    display: flex;
    flex-wrap: wrap;
}
#contact div{
    margin: auto;
}
input[type=text]{
    height:50px;
    width:294px;
    border-radius:34.4px;
    background-color: white;
    text-align: center;
}
#mess{
    height:170px;
    width:100%;
    background-color: white;
}
#porto{
    display: flex;
    flex-wrap: wrap;
}
#porto div{
    margin: auto;
}
#protfolio{
    text-align: center;
}
#blogContainer{
    display: flex;
    flex-wrap: wrap;
}
#blogContainer .blogItem{
    margin:auto;
}
