*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#container{
    padding: 0 1em;
}
body{
    font-family: montserrat;
    background-color: #103440;
}
header{
    display: inline;
    width: 90%;
    margin: auto;
    align-items: center;
}
nav{
    background-color:white;
    width: 100%;
    border-radius: 10px;
    position: fixed;
}
label.brand{
font-weight: bold;
font-size: 22px;
margin-top: -2cm;
margin-left: 2cm;
display: inline;
}
nav ul{
    float: right;
    margin-right: 100px;
    flex-direction: column;

}
nav ul li{
    display: inline;
    line-height: 65px;
    margin: 0 15px;
    font-size: 22px;
}
nav ul li a{
    color: black;
}
#img{
    margin-top: 2cm;
}
#home-Body{
    display: flex;
    flex-wrap: wrap;
}
#home-Body div{
margin: auto;
}
#pra{
    color: white;
    margin-top: 4cm;
}
input[type=button]{
    height:40px;
    width:100px;
    background-color: white;
}
input[type=button]:hover{
    height:40px;
    width:105px;
    background-color:green;
}
.board{
    background-color:white;
    height: 150px;
    width: 100%;
    
}
.board div{
    margin: 600px;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}
.copyRight{
    background-color:white;
    height:124px;
    max-width: 100%;
    border-radius:6px;
    font-size: 24px;
    font-weight: bold;
}
#about{
    display: flex;
    flex-wrap: wrap;
}
#about div{
   margin: auto;
}
#skill{
    display: flex;
    flex-wrap: wrap;
}
#skill div{
    margin: auto;
}
.skillPra{
    color: white;
    font-weight: bold;
    display: flex;
}
.skillPr{
    color: white;
    font-weight: bold;
    display: flex;
}
#pra1{
    background-color:darkgrey;
    height: 50px;
    width: 180px;
    font-weight: bold;
    text-align: center;
    border: 2px solid darkslategrey;
}
#pra2{
    background-color:darkgrey;
    height: 50px;
    width: 180px;
    font-weight: bold;
    text-align: center;
    border: 2px solid darkslategrey;
}
#sbody{
    color: white;
}
#mbody{
    color: white;
}
.board{
    display: flex;
    margin-top: 12cm;
}
.board div{
    align-items: center;
    margin: 50px;
    margin-top: -0px;
}

.progress{
    height: 10px;
    width:13cm;
    background-color: white;
    border-radius: 10px;
}
span{
    font-size: 14px;
    color: white;
    font-weight: bold;

}
.progress #progre{
    height: 10px;
    width: 90%;
    border-radius: 10px;
    background-color:#14E81D;
    margin-left: -1px;
}
.progress #progr{
    height: 10px;
    width: 80%;
    border-radius: 10px;
    background-color:#14E81D;
    margin-left: -1px;
}
.progress #prog{
    height: 10px;
    width: 75%;
    border-radius: 10px;
    background-color:#14E81D;
    margin-left: -1px;
}
.progress #pro{
    height: 10px;
    width: 70%;
    border-radius: 10px;
    background-color:#14E81D;
    margin-left: -1px;
}
#lang{
    color: white;
}
#contact{
    display: flex;
    flex-wrap: wrap;
}
#contact div{
    margin: auto;
}
input[type=text]{
    height:50px;
    width:294px;
    border-radius:34.4px;
    background-color: white;
    text-align: center;
}
#mess{
    height:170px;
    width:100%;
    background-color: white;
}
#porto{
    display: flex;
    flex-wrap: wrap;
}
#porto div{
    margin: auto;
}
#protfolio{
    text-align: center;
}
#blogContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 14rem;
}

#blogContainer .blogItem {
    margin: 2rem;
    padding-left: -10%;
}
.taggle-botton{
   position: absolute;
   top: .75rem;
   right: 1rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 21px; 
}
.taggle-botton .bar{
height: 3px;
width: 100%;
background-color: white;
border-radius: 10px;
}
.likes{
    padding-right: 50px;
}
.submit-btn{
    margin-left: 17rem;
}
@media(max-width:400px){
    .taggle-botton{
        display: flex;

    }
    nav{
        width: 100%;
    }
    .nav{
        flex-direction: column;
        align-items: flex-start;

    }
    .nav ul{
        width: 100%;
        flex-direction: column;
    }
    .nav ul li{
        text-align: center;
    }
    .nav ul li{
        padding: .5rem 1rem;
    }

}