*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#container{
    padding: 0 1em;
}
body{
    font-family: montserrat;
    background-color: #103440;
}
.menus{
    background-color:white;
    display: flex;
    position: fixed;
    width: 100%;
}
.menus ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    margin-left: 44rem;
}
@media only screen and (max-width: 1500px) {
    .menus{
        display: flex;
        width: 100%;
        background-color:white;
    }
    .menus ul {
      display: flex;
      margin-left:12rem;
    }
    .menus li{
        list-style-type: none;
    }
    .menus a{
        display: inline-block;
        font-size: 1rem;
        text-align: center;
        padding: 2px;
        margin: 1rem;
        text-decoration: none;
        color: black;
    }
    label.brand{
        font-weight: bold;
        font-size: 2px;
        display: none;
        }
}
  @media only screen and (max-width: 500px) {
    .menus{
        display: flex;
        width: 100%;
        background-color:white;
    }
    .menus ul {
      display: flex;
      margin-left: 0px;
    }
    .menus li{
        list-style-type: none;
    }
    .menus a{
        display: inline-block;
        font-size: 10px;
        text-align: center;
        padding: 2px;
        margin: -0.7rem;
        text-decoration: none;
        color: black;
    }
    label.brand{
        font-weight: bold;
        font-size: 2px;
        display: none;
        }
  }
.menus li{
    font-size: 22px;
    list-style-type: none;
}
.menus a{
    display: inline-block;
    padding: 25px;
    margin: 10 60px;
    text-align: center;
    text-decoration: none;
    color: black;
}
label.brand{
font-weight: bold;
font-size: 22px;
margin-left: 2em;
}
#img{
    margin-top: 5.5em
}
#home-Body{
    display: flex;
    flex-wrap: wrap;
}
#home-Body div{
margin: auto;
}
#pra{
    color: white;
    margin-top: 7rem;
}
input[type=button]{
    height:40px;
    width:100px;
    background-color: white;
    
}
input[type=button]:active{
    height:40px;
    width:105px;
    background-color:green;
}
.board{
    background-color:white;
    height: 5em;
    width: 100%;
    text-align: center;
    
}
.board div{
    margin: 600px;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}
.copyRight{
    background-color:white;
    height:4em;
    max-width: 100%;
    border-radius:6px;
    font-size: 24px;
    font-weight: bold;
}
#about{
    display: flex;
    flex-wrap: wrap;
}
#about div{
   margin: auto;
}
#skill{
    display: flex;
    flex-wrap: wrap;
}
#skill div{
    margin: auto;
}
.skillPra{
    color: white;
    font-weight: bold;
    display: flex;
    margin-left: 2.5em;
    margin-top: 2em;
}
.skillPr{
    color: white;
    font-weight: bold;
    display: flex;
}
#pra1{
    background-color:darkgrey;
    height: 8.33%;
    width: 35%;
    font-weight: bold;
    text-align: center;
    border: 2px solid darkslategrey;
}
#pra2{
    background-color:darkgrey;
    height: 8.33%;
    width: 35%;
    font-weight: bold;
    text-align: center;
    border: 2px solid darkslategrey;
}
#sbody{
    color: white;
}
#mbody{
    color: white;
}
.board{
    display: flex;
    margin-top: 12cm;
}
.board div{
    align-items: center;
    margin: 50px;
    margin-top: -0px;
}

.progress{
    height: 10px;
    width:30em;
    background-color: white;
    border-radius: 10px;
}
span{
    font-size: 14px;
    color: white;
    font-weight: bold;

}
.progress #progre{
    height: 10px;
    width: 90%;
    border-radius: 10px;
    background-color:#14E81D;
    margin-left: -1px;
}
.progress #progr{
    height: 10px;
    width: 80%;
    border-radius: 10px;
    background-color:#14E81D;
    margin-left: -1px;
}
.progress #prog{
    height: 10px;
    width: 75%;
    border-radius: 10px;
    background-color:#14E81D;
    margin-left: -1px;
}
.progress #pro{
    height: 10px;
    width: 70%;
    border-radius: 10px;
    background-color:#14E81D;
    margin-left: -1px;
}
#lang{
    color: white;
}
#contact{
    display: flex;
    flex-wrap: wrap;
}
#contact div{
    justify-content: space-between;
    padding: 30px;
    margin:0 20px;
}
input[type=text]{
    width:50em;
    height: 6vh;
    background-color: white;
    text-align: center;
}
#mess{
    height:170px;
    width:100%;
    background-color: white;
}
#porto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2px;
    margin: 0 22px;
}
#protfolio{
    text-align: center;
}
#blogContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 14rem;
}

#blogContainer .blogItem {
    margin: 2rem;
    padding-left: -10%;
}
.likes{
    padding-right: 50px;
}
.submit-btn{
    margin-left: 17rem;
}
@media(max-width:400px){
    .taggle-botton{
        display: flex;

    }
    nav{
        width: 100%;
    }
    .nav{
        flex-direction: column;
        align-items: flex-start;

    }
    .nav ul{
        width: 100%;
        flex-direction: column;
    }
    .nav ul li{
        text-align: center;
    }
    .nav ul li{
        padding: .5rem 1rem;
    }

}